<div style="position:absolute; right: 0px; width:100%; height:90%; background-color:rgba(255,100,100,0);">
<p>
<table style="width:100%">
<tr>
<td>Band Name</td><td>Album Name</td><td>Genre</td><td>Sub Genre</td><td>Number Of Songs</td><td>Release Date</td><td>Location</td>
</tr>
<%= query %>
</table>
</p>
</div>
