<!DOCTYPE html>
<html lang="en">
<head>
	   <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="Search Engine for Music Albums"
         content="You can use UpcomingAlbums.com to search for soon to be release musical albums, or add your upcoming album to the database.">
        <title>Upcoming Albums</title>
        <meta name="robots" content="index, follow">
</head>
<body style="color:white; background-color:black;">
	<div style="position:relative; margin-right:auto; margin-left: auto; width:1050; height: 100%; background-color:rgba(100,100,100,0.95); color:white;">
	<div style="width:100%; height:10%;">
	<p style="color:white; display:inline; font-size: 300%;">Upcoming</p><p style="color:orange; display:inline; font-size: 300%;">Albums</p><p style="color:white; display:inline; font-size: 300%;">.com</p>
	<div style="display:inline; position: absolute; right: 0px; bottom: 0px;">
	<p style="display: inline;"><a href="login" style="color:white; visited.color:gray">Log In</a></p>
	<p style="display: inline;"><a href="signup" style="color:white; visited.color:gray">Sign Up</a></p>
	</div>
	</div>

<%= yield %>

</div>
</body>
</html>
