<%= login%>
<form action "/signup" method="POST">

	USERNAME: <input type="text" name="username" style="background-color: silver">
	</br>PASSWORD:  <input type="password" name="password" style="background-color: silver">
	</br><input type="submit">
</form>
