<%=vote%>

<form action="/vote" method="POST">
        Please check if the musician you want to vote for is in database on home page.
        <br/>
        username: <input type="text" name="username" style="background-color: silver">
        <br/>
        Musicians name: <input type="text" name="musician" style="background-color: silver">
        <br/>
	vote: <input type="number" name="vote" min="1", max="5" style="background-color: silver">
	<br/>
	<input type="submit"> 
</form>
